QWidget {
	font-size: 14px !important; /* размер шрифта */
}
GUI {
	background: url(gui/images/gui.png);
}
QScrollBar {
	border-radius: 3px;
}


QPushButton {
	color: black;
	background: maroon;
	border: none;
	border-radius: 5px;
}
QPushButton::hover {
	color: white;
	background:	#20272B;
}

QLabel , QRadioButton, QCheckBox {
	color: white;
}


#backBanner {
	border-radius: 3px;
	background: url(gui/images/patch.png);
}

#topBanner {
	font-size: 50px !important;
	text-align: center;
	vertical-align: center;
}


#button {
	font-size: 35px !important;
	font-weight: bold;
	background: url(gui/images/button.png);
	border-radius: 10px 25px;
	border: 1px solid #F5C942;
}
#button::hover {
	color: #6A9ACD;
}
#button::pressed {
	background: yellow;
}

#close, #rollUp {
/*	background: linear-gradient(to top, #FF0000, #FF3030); */
	background: url(gui/images/panel_button.png);
	font-size: 20px;
	font-weight: bold;
}

#musicButton {
	background-image: url(gui/images/music_off.png);
}
#musicButton::checked {
	background-image: url(gui/images/music_on.png);
}

#peedorBarButton {
	background-image: url(gui/images/mars.png);
}
#peedorBarButton::checked {
	background-image: url(gui/images/venue.png);
}

#helpButton {
	background-image: url(gui/images/help_button.png);
}


QRadioButton::indicator {
	width: 20;
	height: 20;
	background: none;
}
QRadioButton::indicator::unchecked {
	image: url(gui/images/radio_out.png);
}
QRadioButton::indicator::unchecked::hover {
	image: url(gui/images/radio_out_hover.png);
}
QRadioButton::indicator::unchecked::pressed {
	image: url(gui/images/radio_pressed.png);
}

QRadioButton::indicator::checked {
	image: url(gui/images/radio_in.png);
}
QRadioButton::indicator::checked::hover {
	image: url(gui/images/radio_in_hover.png);
}
QRadioButton::indicator::checked::pressed {
	image: url(gui/images/radio_pressed.png)
}

QRadioButton:disabled {
	color: gray;
}


QCheckBox::indicator {
	width: 16;
	height: 16;
}
QCheckBox::indicator::unchecked {
	image: url(gui/images/check_out.png);
}
QCheckBox::indicator::unchecked::hover {
	image: url(gui/images/check_out_hover.png);
}
QCheckBox::indicator::unchecked::pressed {
	image: url(gui/images/check_pressed.png);
}

QCheckBox::indicator::checked {
	image: url(gui/images/check_in.png);
}
QCheckBox::indicator::checked::hover {
	image: url(gui/images/check_in_hover.png)
}
QCheckBox::indicator::checked::pressed {
	image: url(gui/images/check_pressed.png);
}

QCheckBox:disabled {
	color: gray;
}


QTextBrowser {
	font-size: 12px !important;
	background: #20272B;
/*	background: url(gui/images/pocik.jpg); */
	margin-top: 10;
	font: monospace;
	color: white;
	border: none;
	border-radius: 3px;
}

QLineEdit {
	background: white;
	color: black;
	border: 1px solid #374457;
	border-radius: 2px;
}
QLineEdit:disabled {
	background: gray;
}


#totalPosts {
	color: lime;
}




#wipechan {

}

#blockquote {
	font-family: monospace;
	font-size: 12px !important;
	font-style: italic;
	color: red;
	padding: 5px 5px 5px 5px;
	background-color: white !important;
	border: 2px solid black;
	border-radius: 10px;
}
