QWidget {
	font-size: 14px !important; /* размер шрифта */
}
GUI {
	background-image: url(gui/images/gui.png);
}
QScrollBar {
	border-radius: 3px;
}


QPushButton {
	color: black;
	background: #20272B;
	border: none;
	border-radius: 3px;
}
QPushButton::hover {
	color: white;
}

QLabel , QRadioButton, QCheckBox {
	color: white;
}


#banner, #backBanner {
	border-radius: 3px;
}

#banner {
/* 340x210 */
/*	background-image: url(gui/logo.png) */
}

#backBanner {
/* 340x210 */

}

#topBanner {
/* 1030x50 */

}


#button {
	font-size: 35px !important;
	font-weight: bold;
	background-image: url(gui/images/button.png);
	border-radius: 10px 25px;
	border: 1px solid #F5C942;
}
#button::hover {
	color: #6A9ACD;
}
#button::pressed {
	background: yellow;
}

#close, #rollUp {
/*	background: linear-gradient(to top, #FF0000, #FF3030); */
	background-image: url(gui/images/panel_button.png);
	font-size: 20px;
	font-weight: bold;
}

#musicButton {
	background-image: url(gui/images/music_off.png)
}
#musicButton::checked {
	background-image: url(gui/images/music_on.png)
}

#peedorBarButton {
	background-image: url(gui/images/mars.png)
}
#peedorBarButton::checked {
	background-image: url(gui/images/venue.png)
}


QRadioButton::indicator {
	width: 20;
	height: 20;
	background: none;
}
QRadioButton::indicator::unchecked {
	image: url(gui/images/radio_out.png);
}
QRadioButton::indicator::unchecked::hover {
	image: url(gui/images/radio_out_hover.png);
}
QRadioButton::indicator::unchecked::pressed {
	image: url(gui/images/radio_pressed.png);
}

QRadioButton::indicator::checked {
	image: url(gui/images/radio_in.png);
}
QRadioButton::indicator::checked::hover {
	image: url(gui/images/radio_in_hover.png);
}
QRadioButton::indicator::checked::pressed {
	image: url(gui/images/radio_pressed.png)
}

QRadioButton:disabled {
	color: gray;
}


QCheckBox::indicator {
	width: 16;
	height: 16;
}
QCheckBox::indicator::unchecked {
	image: url(gui/images/check_out.png);
}
QCheckBox::indicator::unchecked::hover {
	image: url(gui/images/check_out_hover.png);
}
QCheckBox::indicator::unchecked::pressed {
	image: url(gui/images/check_pressed.png);
}

QCheckBox::indicator::checked {
	image: url(gui/images/check_in.png);
}
QCheckBox::indicator::checked::hover {
	image: url(gui/images/check_in_hover.png)
}
QCheckBox::indicator::checked::pressed {
	image: url(gui/images/check_pressed.png);
}

QCheckBox:disabled {
	color: gray;
}


QTextBrowser {
	background: #20272B;
/*	background-image: url(gui/images/pocik.jpg); */
	margin-top: 10;
	font: monospace;
	color: white;
	border: none;
	border-radius: 3px;
}

QLineEdit {
	background: white;
	color: black;
	border: 1px solid black;
	border-radius: 2px;
}
QLineEdit:disabled {
	background: gray;
}


Line {
	color: green;
	#17191B;
}
