/* ГУИ */
QWidget {
	color: white;
	font-size: 14px !important; /* размер шрифта */
}
GUI {
	background: #374457;
}


/* Панель */
#topBanner {
	font-size: 50px !important;
	text-align: center;
	vertical-align: center;
	background: #17191B;
	border-top: 3px outset #1A1D21;
}

.left-button {
	color: black;
	background-color: maroon;
	border: 2px outset gray;
	border-radius: 5px;
}
.left-button:hover {
	color: white;
	background-color: #20272B;
}
.left-button:pressed {
	border-style: inset;
}
.left-button:checked {
	border-color: red;
}
.right-button {
	color: black;
	font-size: 20px;
	font-weight: bold;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #FD8585, stop:1 #FA5D5D);
	border-radius: 3px;
}
.right-button:hover {
	color: white;
}
#helpButton {
	background-image: url(gui/images/help_button.png);
}
#peedorBarButton {
	background-image: url(gui/images/mars.png);
}
#peedorBarButton:checked {
	background-image: url(gui/images/venue.png);
}
#musicButton {
	background-image: url(gui/images/music_off.png);
}
#musicButton:checked {
	background-image: url(gui/images/music_on.png);
}

#totalPosts {
	color: lime;
}


/* Вайп-тян */
#backBanner {
	background: url(gui/logo.png);
}
#wipechan {
	background: url(gui/Wipe-chan/images/Wipe-chan.png);
	background-repeat: repeat-y;
	margin-left: 15px;
	margin-top: 10px;
}
#blockquote {
	font-family: monospace;
	font-size: 12px !important;
	font-style: italic;
	color: red;
	padding: 5px 5px 5px 5px;
	background-color: white !important;
	border: 2px solid black;
	border-radius: 10px;
}


/* Кнопка старта */
#button {
	color: black;
	font-size: 35px !important;
	font-weight: bold;
	background: qlineargradient(spread:pad, x1:0, y1:0.3, x2:0, y2:1, stop:0 #FFFF00, stop:1 #F5CB3F);
	border: 1px solid #F5C942;
	border-radius: 10px 25px;
}
#button:hover {
	color: #6A9ACD;
}
#button:pressed {
	background: yellow;
}


/* Формы */
.settings-frame {
	background-color: #20272B;
	border-radius: 5px;
}
#mainSet {
	border-top: 5px solid #37C8C6;
}
#solverSet {
	border-top: 5px solid #9870AD;
}
#postSet {
	border-top: 5px solid #C89637;
}
#mediaSet {
	border-top: 5px solid #557230;
}
.settings-frame-header {
	font-size: 25px;
	background-color: #17191B;
}
.box-frame {
	border: 2px dashed white;
	border-radius: 5px;
}


/* Элементы форм */
QRadioButton::indicator {
	width: 20;
	height: 20;
}
QRadioButton::indicator:unchecked {
	image: url(gui/images/radio_out.png);
}
QRadioButton::indicator:unchecked:hover {
	image: url(gui/images/radio_out_hover.png);
}
QRadioButton::indicator:unchecked:pressed {
	image: url(gui/images/radio_pressed.png);
}
QRadioButton::indicator:checked {
	image: url(gui/images/radio_in.png);
}
QRadioButton::indicator:checked:hover {
	image: url(gui/images/radio_in_hover.png);
}
QRadioButton::indicator:checked:pressed {
	image: url(gui/images/radio_pressed.png)
}

QCheckBox::indicator {
	width: 16;
	height: 16;
}
QCheckBox::indicator:unchecked {
	image: url(gui/images/check_out.png);
}
QCheckBox::indicator:unchecked:hover {
	image: url(gui/images/check_out_hover.png);
}
QCheckBox::indicator:unchecked:pressed {
	image: url(gui/images/check_pressed.png);
}
QCheckBox::indicator:checked {
	image: url(gui/images/check_in.png);
}
QCheckBox::indicator:checked:hover {
	image: url(gui/images/check_in_hover.png)
}
QCheckBox::indicator:checked:pressed {
	image: url(gui/images/check_pressed.png);
}

QRadioButton:disabled, QCheckBox:disabled {
	color: gray;
}

QLineEdit, QComboBox, QSpinBox {
	background: white;
	color: black;
	border: 1px solid #374457;
	border-radius: 2px;
}
QLineEdit:disabled, QComboBox:disabled, QSpinBox:disabled {
	background: gray;
}
