/* ГУИ */
QWidget {
	color: black;
	font-size: 14px !important; /* размер шрифта */
}
GUI {
	background: #363c42;
}
QLabel {
	color: #C3C7C8;
}


/* Панель */
#topBanner {
	font-size: 50px !important;
	text-align: center;
	vertical-align: center;
	background: #282828;
	border-top: 1px outset #606568;
}

.tool-button {
	color: #C3C7C8;
	background-color: gray;
	background-repeat: no-repeat;
	border: 2px outset darkgray;
	border-radius: 5px;
}
.tool-button:hover {
	color: white;
	background-color: #20272B;
}
.tool-button:pressed {
	border-style: inset;
}
.tool-button:checked {
	border-color: red;
}
.peedor-button {
	font-size: 20px;
	font-weight: bold;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #FD8585, stop:1 #FA5D5D);
	border-radius: 3px;
}
.peedor-button:hover {
	color: white;
}
#helpButton {
	background-image: url(gui/images/help_button.png);
}
#peedorBarButton {
	background-image: url(gui/images/mars.png);
}
#peedorBarButton:checked {
	background-image: url(gui/images/venue.png);
}
#musicButton {
	background-image: url(gui/images/music_off.png);
}
#musicButton:checked {
	background-image: url(gui/images/music_on.png);
}


/* Вайп-тян */
#backBanner {
	background: url(gui/logo.png);
	margin-top: -50px;
}
#wipechan {
	background: url(gui/Wipe-chan/image.png);
	background-repeat: no-repeat;
	margin-left: -50px;
	margin-top: -100px;
}
#blockquote {
	color: red;
	font-family: monospace;
	font-size: 12px !important;
	font-weight: bold;
	font-style: italic;
	padding: 5px 5px 5px 5px;
	background: white !important;
	border: 2px solid black;
	border-radius: 10px;
}


/* Кнопка старта */
#startButton {
	color: #363c42;
	font-size: 35px !important;
	font-weight: bold;
	background: #23272b;
}
#startButton:hover {
	color: #6A9ACD;
}
#startButton:pressed {
	background: yellow;
}


/* Формы */
.gui-frame {
	background: #23272b;
}
.stats-label {
	font-size: 20px;
}
.gui-frame-header {
	color: #C8C8C8;
	font-size: 20px;
	text-transform: uppercase;
	background: #23272b;
}
.form-box {
	border-top: 1px solid #2d3134;
}
#shackalBox {
	border: none;
	background: #363c42;
}


/* Элементы форм */
QRadioButton, QCheckBox {
	color: #C3C7C8;
}
QRadioButton::indicator {
	image: url(gui/styles/metro/radio-off.png);
}
QRadioButton::indicator:hover {
	image: url(gui/styles/metro/radio-hover.png);
}
QRadioButton::indicator:pressed {
	image: url(gui/styles/metro/radio-press.png);
}
QRadioButton::indicator:checked {
	image: url(gui/styles/metro/radio-on.png);
}
QRadioButton::indicator:checked:hover {
	image: url(gui/styles/metro/radio-hover.png);
}
QRadioButton::indicator:checked:pressed {
	image: url(gui/styles/metro/radio-press.png)
}

QCheckBox::indicator {
	image: url(gui/styles/metro/check-off.png);
}
QCheckBox::indicator:hover {
	image: url(gui/styles/metro/check-hover.png);
}
QCheckBox::indicator:pressed {
	image: url(gui/styles/metro/check-press.png);
}
QCheckBox::indicator:checked {
	image: url(gui/styles/metro/check-on.png);
}
QCheckBox::indicator:checked:hover {
	image: url(gui/styles/metro/check-hover.png);
}
QCheckBox::indicator:checked:pressed {
	image: url(gui/styles/metro/check-press.png);
}

QRadioButton:disabled, QCheckBox:disabled {
	color: gray;
}

QLineEdit, QComboBox, QSpinBox, QMenu, QComboBox *, QSpinBox * {
	color: #C8C8C8;
	background: #293038;
}
QLineEdit:disabled, QComboBox:disabled, QSpinBox:disabled {
	background: #302020;
}

.stats-LCD {
	color: red;
	background: black;
	border: 1px ridge white;
}
