/* НАРКОМАНА КУСОК, ОСТАВЬ ЭТО НА ДОРАБОТКУ ШКОЛЬНИКАМ */
/* я просто играю с ксс */
/* РРРРРРРЯЯЯЯ ПОЕХАВШИЙ
ТАБЛЕТОЧКИ ПРИНЯЛ?*/
/* шизик, ты? я таблеточки принял */
/* Поехавший блять */

/* ГУИ */
QWidget {
	color: #EEFFEE;
	font-family: monospace;
	font-size: 14px !important; /* размер шрифта */
}
GUI {
	background: #EEFFEE;
}


/* Панель */
#topBanner {
	font-family: monospace;
	font-size: 40px !important;
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;
	qproperty-alignment: AlignCenter;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0.3, y2:0, stop:0 green, stop:1 #34D600);
	border-top-right-radius: 40px 15px;
	border-bottom-right-radius: 40px 15px;
}

.tool-button {
	background-color: #F5C942;
	background-repeat: no-repeat;
	border: 2px outset gray;
	border-radius: 5px;
}
.tool-button:hover {
	color: white;
	background-color: #20272B;
}
.tool-button:pressed {
	border-style: inset;
}
.tool-button:checked {
	border-color: red;
}
.peedor-button {
	font-size: 20px;
	font-weight: bold;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #FD8585, stop:1 #FA5D5D);
	border-radius: 3px;
}
.peedor-button:hover {
	color: white;
}
#helpButton {
	background-image: url(gui/images/help_button.png);
}
#peedorBarButton {
	background-image: url(gui/images/mars.png);
}
#peedorBarButton:checked {
	background-image: url(gui/images/venue.png);
}
#musicButton {
	background-image: url(gui/images/music_off.png);
}
#musicButton:checked {
	background-image: url(gui/images/music_on.png);
}


/* Вайп-тян */
#backBanner {
	background: url(gui/logo.png);
	margin-top: -50px;
}
#chan {
	background: url(gui/Wipe-chan/image.png);
	background-repeat: no-repeat;
}
#blockquote {
	color: red;
	font-family: monospace;
	font-size: 12px !important;
	font-weight: bold;
	font-style: italic;
	padding: 5px 5px 5px 5px;
	background: white !important;
	border: 2px solid black;
	border-radius: 10px;
}


/* Кнопка старта */
#startButton {
	font-size: 35px !important;
	font-weight: bold;
	background: qlineargradient(spread:pad, x1:0, y1:0.3, x2:0, y2:1, stop:0 #FFFF00, stop:1 #F5CB3F);
	border: 1px solid #F5C942;
	border-radius: 10px 25px;
}
#startButton:hover {
	color: #6A9ACD;
}
#startButton:pressed {
	background: yellow;
}


/* Формы */
.gui-frame {
	border-width: 5px;
	border-style: double;
}
.gui-frame * {
	color: navy;
}
#mainSet {
	background: qlineargradient(spread:pad, x1:0.5, y1:0.5, x2:1, y2:1, stop:0 #FFEEF0, stop:1 white);
	border-color: #FF00B8;
	border-right: none;
	border-bottom: none;
	border-top-left-radius: 5px;
}
#solverSet {
	background: qlineargradient(spread:pad, x1:0.5, y1:0.5, x2:0, y2:1, stop:0 #EEF0FF, stop:1 white);
	border-color: #00E0FD;
	border-left: none;
	border-bottom: none;
	border-top-right-radius: 5px;
}
#postSet {
	background: qlineargradient(spread:pad, x1:0.5, y1:0.5, x2:1, y2:0, stop:0 #FEFFEE, stop:1 white);
	border-color: #F7FB00;
	border-right: none;
	border-top: none;
	border-bottom-left-radius: 5px;
}
#mediaSet {
	background: qlineargradient(spread:pad, x1:0.5, y1:0.5, x2:0, y2:0, stop:0 #FDEEFC, stop:1 white);
	border-color: #DD00D1;
	border-left: none;
	border-top: none;
	border-bottom-right-radius: 5px;
}
#stats {
	border-top: 5px solid navy;
}
#mainSet:hover, #solverSet:hover, #postSet:hover, #mediaSet:hover, #stats:hover {
	border-style: outset;
}
.gui-frame-header {
	font-family: serif;
	font-size: 15px !important;
	font-weight: bold;
	qproperty-alignment: AlignCenter;
	background: #34D600;
	border-radius: 10px 10px;
}
#mainSetHeader {
	border: 2px solid #FF00B8;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
}
#solverSetHeader {
	border: 2px solid #00E0FD;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
}
#postSetHeader {
	border: 2px solid #F7FB00;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
}
#mediaSetHeader {
	border: 2px solid #DD00D1;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
}
#mainBox, #shrapnelBox, #triggerBox, #complainBox, #triggerLabel, #complainLabel, #sageBox, #shackalBox {
	border: 2px ridge gray;
	border-radius: 5px;
}
#chaosBox {
	border-top: 2px outset gray;
	border-bottom: 2px inset gray;
}
.stats-label {
	font-size: 20px;
}
#triggerBox, #complainBox {
	border-top: none;
}
#triggerLabel, #complainLabel {
	padding-left: 10px;
	border-bottom: none;
}
#complainLabel {
	padding-left: 5px;
}


/* Элементы форм */
QRadioButton, QCheckBox {
	color: white;
}

QRadioButton::indicator {
	width: 20;
	height: 20;
}
QRadioButton::indicator {
	image: url(gui/styles/bund/radio.png);
}
QRadioButton::indicator:hover {
	image: url(gui/styles/bund/radio-hover.png);
}
QRadioButton::indicator:pressed {
	image: url(gui/styles/bund/radio-pressed.png);
}
QRadioButton::indicator:checked {
	image: url(gui/styles/bund/radio-checked.png);
}
QRadioButton::indicator:checked:hover {
	image: url(gui/styles/bund/radio-checked-hover.png);
}
QRadioButton::indicator:checked:pressed {
	image: url(gui/styles/bund/radio-pressed.png)
}

QCheckBox::indicator {
	width: 16;
	height: 16;
}
QCheckBox::indicator {
	image: url(gui/styles/bund/checkbox.png);
}
QCheckBox::indicator:hover {
	image: url(gui/styles/bund/checkbox-hover.png);
}
QCheckBox::indicator:pressed {
	image: url(gui/styles/bund/checkbox-pressed.png);
}
QCheckBox::indicator:checked {
	image: url(gui/styles/bund/checkbox-checked.png);
}
QCheckBox::indicator:checked:hover {
	image: url(gui/styles/bund/checkbox-checked-hover.png)
}
QCheckBox::indicator:checked:pressed {
	image: url(gui/styles/bund/checkbox-pressed.png);
}

QRadioButton:disabled, QCheckBox:disabled {
	color: gray;
}

QLineEdit, QComboBox, QSpinBox, QMenu, QComboBox *, QSpinBox * {
	background: white;
	border: 1px solid #17191B;
	border-radius: 2px;
}
QLineEdit:focus, QComboBox:focus {
	border: 1px inset lime;
}
QLineEdit:disabled, QComboBox:disabled, QSpinBox:disabled {
	background: gray;
}

.stats-LCD {
	color: red;
	background: black;
	border: 1px ridge white;
}
